tp_integrador/tp_integrador/obj/Debug/
tp_integrador/tp_integrador.Tests/obj/Debug/
tp_integrador/tp_integrador.Tests/bin/
.vs/
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/