<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
	<div class="container">
		<hgroup>
			<h1>Error.</h1>
			<h2>Error al procesar la solicitud.</h2>
		</hgroup>

		<div class="container">
			<div class="text-body">@TempData["ERROR"]</div>
		</div>
	</div>    
</body>
</html>