
@{
    ViewBag.Title = "Error404";
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>404 HTML Template by Colorlib</title>

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="~/Content/ErrorStyle.css" />

<div>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>404</h1>
			<h2>Oops! No se ha encontrado la página.</h2>			
			<p>Lo sentimos pero la página que buscas no existe, ha sido removida, cambiado de nombre o no se encuentra disponible temporalmente</p>
			<a href="@Url.Action("GoBack", "Errors")" class="nav-link">Volver al Inicio</a>
		</div>
	</div>

</div>

<!-- This templates was made by Colorlib (https://colorlib.com) -->