@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inspirar comunidades para una vida más sana - desde la forma en que la gente piensa acerca de lo que consume. Conectar a través de nuestros restaurantes y proveedores, nuestra comunidad y el impacto social de nuestro trabajo. </p>
