@{
    ViewBag.Title = "Contacto";
}
<main role="main" >
	<h2>@ViewBag.Title.</h2>
    <div class="text-center">
        <img class="mb-4" src="~/Content/Assets/sge-logo3.svg" alt="" width="100" height="100">
        <address>
            En Casa Compilaba<br />
            Calle falsa 123, Sprinfield<br />
            011987-2659-188
        </address>

        <address>
            <strong>Soporte Tecnico:</strong>   <a>Soporte@encasacompilaba.com</a><br />
            <strong>Recursos Humanos:</strong> <a>RRHH@encasacompilaba.com</a>
        </address>
    </div>
</main>