@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {<ul class="col-md-4">
                <p>Hola </p>

            </ul>



    }
}
else
{



<div class="row">
<div class="col-md-4">
    <h2>Getting started</h2>
    <p>
        @Html.ActionLink("Trabajo practico previo", "Login", "Account", "/Account/login", new { @class = "navbar-brand" })

    </p>

</div>

</div>

}
