
@model tp_integrador.Models.Zona


<h2>Zona @Model.nombre</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Localizacion</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var trans in Model.transformadores)
        {
            <tr>
                <td>@trans.id</td>
                <td>@trans.location</td>
            </tr>
        }
    </tbody>


</table>
