@model tp_integrador.Models.DAO_t_dispositivostemplate


<h2>View</h2>

@using (Html.BeginForm("LoadDispositivoJson", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <button type="submit">Subir archivo</button>
}

@using (Html.BeginForm("SelecTemplate_dis", "Cliente", FormMethod.Post)) {
<fieldset>
    Seleccione un Dispositivo <select name="disp">

    <option selected="selected" value=0></option>
    
    @foreach (var item in Model.templateDisps)
    {
    <option value= @item.ID>@item.getNombreEntero()</option>
    }

</select>
     <button type="submit">Agregar</button>

</fieldset>
}