@model tp_integrador.Models.Cliente
@{
	ViewBag.Title = "GestionDeDispositivos";
}

<h2>GestionDeDispositivos</h2>


@using (Html.BeginForm("CalculoSimplex", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<button type="submit">Calcular Mejor Consumo</button>
}

&nbsp;

<div class="btn-group">
	<span class="label label-default">Ahorro Automatico: @Html.DisplayFor(Model => Model.AutoSimplex)  </span>
	@using (Html.BeginForm("AhorroAutomatico", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="hidden"/><button type="submit">Activar/Desactivar</button>
	}

</div>


